.black-font-color {
    color: black;
}

.black-bg-color {
    background-color: black;
}

.black-border-color {
    border-color: black;
}
/*in black hover variables*/
.hover-black-border {
    &:hover {
        border-color: black;
    }
}

.hover-black-font-color {
    &:hover {
        color: black !important;
    }
}

.hover-black-bg-color {
    &:hover {
        background-color: black !important;
    }
}
/*in active variables*/
.active {
    .active-black-font-color {
        color: black !important;
    }
}

.active.black-bg-color {
    background-color: black !important;
}

.black-overlay {
    background-color: #000 !important;
}
