.primary-font-color {
    color: var(--primary-color) !important;
}

.primary-bg-color {
    background-color: var(--primary-color);
    color: #fff;
}

.primary-border-color {
    border-color: var(--primary-color);
}
/*in primary hover variables*/
.hover-primary-border {
    &:hover {
        border-color: var(--primary-color);
    }
}

.hover-primary-font-color {
    &:hover {
        color: var(--primary-color) !important;
    }
}

.hover-primary-bg-color {
    &:hover {
        background-color: var(--primary-color) !important;
    }
}
/*in active variables*/
.active {
    .active-primary-font-color {
        color: var(--primary-color) !important;
    }
}

.active.primary-bg-color {
    background-color: var(--primary-color) !important;
}
