 .secondary-font-color {
        color: var(--secondary-color);
    }

    .secondary-bg-color {
        background-color: var(--secondary-color);
        color: #fff;
    }

    .secondary-border-color {
        border-color: var(--secondary-color);
    }
    /*in secondary hover variables*/
    .hover-secondary-border {
        &:hover {
            border-color: var(--secondary-color);
        }
    }

    .hover-secondary-font-color {
        &:hover {
            color: var(--secondary-color) !important;
        }
    }

    .hover-secondary-bg-color {
        &:hover {
            background-color: var(--secondary-color) !important;
        }
    }
    /*in active variables*/
    .active {
        .active-secondary-font-color {
            color: var(--secondary-color) !important;
        }
    }

    .active.secondary-bg-color {
        background-color: var(--secondary-color) !important;
    }