/*online fonts*/

@import url('#{$font-path}/raleway/https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('#{$font-path}/raleway/https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/*local fonts*/

@font-face {
    font-family: 'ralewayextrabold';
    src: url('#{$font-path}/raleway/raleway-extrabold-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-extrabold-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-extrabold-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-extrabold-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('#{$font-path}/raleway/raleway-bold-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-bold-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-bold-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-bold-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('#{$font-path}/raleway/raleway-extralight-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-extralight-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-extralight-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-extralight-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayheavy';
    src: url('#{$font-path}/raleway/raleway-heavy-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-heavy-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-heavy-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-heavy-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('#{$font-path}/raleway/raleway-light-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-light-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-light-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-light-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ralewaymedium';
    src: url('#{$font-path}/raleway/raleway-medium-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-medium-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-medium-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-medium-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ralewayregular';
    src: url('#{$font-path}/raleway/raleway-regular-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-regular-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-regular-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-regular-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('#{$font-path}/raleway/raleway-semibold-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-semibold-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-semibold-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-semibold-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ralewaythin';
    src: url('#{$font-path}/raleway/raleway-thin-webfont.eot');
    src: url('#{$font-path}/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/raleway/raleway-thin-webfont.woff2') format('woff2'), url('#{$font-path}/raleway/raleway-thin-webfont.woff') format('woff'), url('#{$font-path}/raleway/raleway-thin-webfont.ttf') format('truetype'), url('#{$font-path}/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
