$i: 100;

@while $i < 1000 {
    .font-weight-#{$i} {
        font-weight: $i;
    }

    $i: $i + 100;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

@each $color in $font-color {
    .#{nth($color,1)} {
        color: #{nth($color,2)};
    }
}

@each $size in $font-size {
    .#{nth($size,1)} {
        font-size: #{nth($size,2)};
    }
}

@media (min-width:320px) and (max-width:767px) {
    @each $size in $font-size {
        .#{nth($size,1)}-xs {
            font-size: #{nth($size,2)};
        }
    }

    .text-xs-center {
        text-align: center;
    }

    .text-xs-left {
        text-align: left;
    }

    .text-xs-right {
        text-align: right;
    }

    .text-xs-justify {
        text-align: justify;
    }
}

@media (min-width:768px) and (max-width:991px) {
    @each $size in $font-size {
        .#{nth($size,1)}-sm {
            font-size: #{nth($size,2)};
        }
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    @each $size in $font-size {
        .#{nth($size,1)}-md {
            font-size: #{nth($size,2)};
        }
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-left {
        text-align: left;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-justify {
        text-align: justify;
    }
}
