$spacing-variants : (0,5,10,15,20,25,30,35,40,45,50,55,60,65,70);

.mr-auto{
    margin-left:auto;
    margin-right:auto;
}

@each $spacing in $spacing-variants{
    .pd {
        &-#{$spacing} {
            padding: #{$spacing}px;
        }

        &-t-#{$spacing} {
            padding-top: #{$spacing}px;
        }

        &-b-#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        &-l-#{$spacing} {
            padding-left: #{$spacing}px;
        }

        &-r-#{$spacing} {
            padding-right: #{$spacing}px;
        }

        &-tb-#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

        &-lr-#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }

    }

    .mr {
        &-#{$spacing} {
            margin: #{$spacing}px;
        }

        &-t-#{$spacing} {
            margin-top: #{$spacing}px;
        }

        &-b-#{$spacing} {
            margin-bottom: #{$spacing}px;
        }

        &-l-#{$spacing} {
            margin-left: #{$spacing}px;
        }

        &-r-#{$spacing} {
            margin-right: #{$spacing}px;
        }

        &-tb-#{$spacing} {
            margin-top: #{$spacing}px;
            margin-bottom: #{$spacing}px;
        }

        &-lr-#{$spacing} {
            margin-left: #{$spacing}px;
            margin-right: #{$spacing}px;
        }

    }
}

@media (min-width: 320px){
    @each $spacing in $spacing-variants{
        .pd-xs {
            &-#{$spacing} {
                padding: #{$spacing}px;
            }

            &-t-#{$spacing} {
                padding-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                padding-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                padding-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                padding-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                padding-top: #{$spacing}px;
                padding-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                padding-left: #{$spacing}px;
                padding-right: #{$spacing}px;
            }

        }

        .mr-xs {
            &-#{$spacing} {
                margin: #{$spacing}px;
            }

            &-t-#{$spacing} {
                margin-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                margin-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                margin-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                margin-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                margin-top: #{$spacing}px;
                margin-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                margin-left: #{$spacing}px;
                margin-right: #{$spacing}px;
            }

        }
    }
}

@media (min-width: 768px){
    @each $spacing in $spacing-variants{
        .pd-sm {
            &-#{$spacing} {
                padding: #{$spacing}px;
            }

            &-t-#{$spacing} {
                padding-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                padding-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                padding-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                padding-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                padding-top: #{$spacing}px;
                padding-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                padding-left: #{$spacing}px;
                padding-right: #{$spacing}px;
            }

        }

        .mr-sm {
            &-#{$spacing} {
                margin: #{$spacing}px;
            }

            &-t-#{$spacing} {
                margin-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                margin-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                margin-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                margin-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                margin-top: #{$spacing}px;
                margin-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                margin-left: #{$spacing}px;
                margin-right: #{$spacing}px;
            }

        }
    }
}

@media (min-width: 992px){
    @each $spacing in $spacing-variants{
        .pd-md {
            &-#{$spacing} {
                padding: #{$spacing}px;
            }

            &-t-#{$spacing} {
                padding-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                padding-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                padding-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                padding-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                padding-top: #{$spacing}px;
                padding-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                padding-left: #{$spacing}px;
                padding-right: #{$spacing}px;
            }

        }

        .mr-md {
            &-#{$spacing} {
                margin: #{$spacing}px;
            }

            &-t-#{$spacing} {
                margin-top: #{$spacing}px;
            }

            &-b-#{$spacing} {
                margin-bottom: #{$spacing}px;
            }

            &-l-#{$spacing} {
                margin-left: #{$spacing}px;
            }

            &-r-#{$spacing} {
                margin-right: #{$spacing}px;
            }

            &-tb-#{$spacing} {
                margin-top: #{$spacing}px;
                margin-bottom: #{$spacing}px;
            }

            &-lr-#{$spacing} {
                margin-left: #{$spacing}px;
                margin-right: #{$spacing}px;
            }

        }
    }
}



