#font-selector{
    display:block;
    width:100%;
    color:#000;
    padding:5px;

}

.customize-theme {
    position: fixed;
    left: 5%;
    bottom: 5%;
    z-index: 9999999;
    width: 50px;
    height: 50px;

    .theme-changer {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .theme-changer-options {
        background-color:#000;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;
        @include transition(all,0.5s);

        .background-options {
            a {
                display: block;
                background-color: #fff;
                text-align: center;
                padding: 15px;
                margin: 5px 0;
            }
        }
    }
}

.customize-theme.open-customize-theme {
    .theme-changer-options {
        width: 280px;
        height: 320px;
        padding-bottom:50px;
        overflow:auto;
    }
}


.theme-eyedropper {
    border-radius: 10px;
    padding: 15px;
}

.color-options {
    a {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin:5px 5px 5px 0;

    }

    a#color-orange{
        background-color:#e05a53;
    }
    a#color-yellow{
        background-color:#f08903;
    }
    #color-red{
        background-color:#c70039;
    }
    a#color-pink{
        background-color:#e074a4;
    }
    #color-violet{
        background-color:#692e98;
    }
    a#color-green{
        background-color:#28d1bc;
    }
    #color-blue{
        background-color:#3baeda;
    }
    a#color-cream{
        background-color:#d3a478;
    }
     a#color-maroon{
        background-color:#731c47;
    }

}