.btn-general {
    @include border-radius(25px);
    border: none;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 15px;
    cursor:pointer;
    @include transition(color 0.2s);
    display:inline-block;
}

.btn-theme {
    background-color:var(--theme-color);
    color:#fff;
}

.btn-primary {
    background-color:var(--primary-color);
}

.btn-white {
    background-color:#fff;
}

.btn-primary {
    background-color:var(--primary-color);
}