@mixin placeholder-font($size,$family,$color,$opacity) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: $opacity; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
        font-size: $size;
        font-family: $family;
    }

    &:-ms-input-placeholder {
        color: $color;
        font-size: $size;
        font-family: $family;
        opacity: $opacity;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $size;
        font-family: $family;
        opacity: $opacity;
    }
    // Safari and Chrome
}
