::-moz-selection {
    text-shadow: none;
    color: #fff;
    background-color: var(--theme-color);
}

::selection {
    text-shadow: none;
    color: #fff;
    background-color: var(--theme-color);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
